.wd-search-tuiter {
    bottom: 11px;
    left: 12px;
    color: #8c8b8b;
}

.wd-nav-tabs {
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-fa-cog {
    color: rgb(29,161,242);
}

.wd-bg-page {
    background-color: black;
}


.wd-follow .list-group-item {
    background-color: #252424;
    color: ghostwhite;
    margin: 4px;
    font-size: 18px;
}

.wd-main-btm .list-group-item {
    background-color: #252424;
    color: ghostwhite;
    margin: 4px;
    font-size: 18px;
}

.btn {
    min-width: max-content;
}


.form-control {
    background-color: #252424;
    border-width: 0;
}

.wd-main-top {
    padding: 0 7px 0 7px;
}

.nav {
    border-width: 0;
}

.nav-link {
    color: #565555 !important;
}

.nav-item .active {
    background-color: black !important;
    border-width: 0 0 4px 0;
    border-color: rgb(29,161,242) !important;
    font-weight: bolder;
    font-size: medium;
    color: lightgray !important;
}

.nav-item a:link {
    color: white !important;
}

.wd-main-mid {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #494848;
    margin-top: -3px;
}

.wd-small-font {
    font-size: 12px;
}

.wd-medium-font {
    font-size: 14px;
}

.wd-large-font {
    font-size: 19px;
}

.wd-ml-font {
    font-size: 15px;
}

.wd-button {
    background-color: rgb(29,161,242);
}

.wd-search-bar {
    background-color: ghostwhite;
}

.wd-main-top ::placeholder {
    color: #8c8b8b;
}

.wd-light-grey {
    color: #918f8f !important;
}